<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="chassis_link">
        <inertial>
            <origin
            xyz="0.330675625578547 0.810570173871616 0.991259218521417"
            rpy="0 0 0" />
            <mass
            value="3244.03122956073" />
            <inertia
            ixx="538.583355773806"
            ixy="-7.68365201432533E-09"
            ixz="1.06196129536401E-08"
            iyy="673.896189700754"
            iyz="-1.17017082637322E-06"
            izz="217.301916491264" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find description)/meshes/chassis.STL" />
            </geometry>
            <material name="">
                <color rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find description)/meshes/chassis.STL" />
            </geometry>
        </collision>
    </link>

    <joint name="chassis_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="chassis_link"/>
    </joint>

</robot>